<div class="paths-wrap">
  <section class="new-route">
    <%= semantic_form_for :path, :url => paths_path do |f| %>

    <header><h1>Publica tu ruta</h1></header>
    <section class="route">
      <article class="type">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Tipo de Ruta</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                <label>
                <input type="radio" name="optionsRadios" checked="">
                Ruta puntual
              </label>
              </li>
              <li>
                <label>
                <input type="radio" name="optionsRadios">
                Ruta habitual
                </label>
              </li>
            </ul>
          </div>
      </article>

      <article class="directions">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">Ruta</h3>
            </div>
            <div class="panel-body">
              <h5>Estación de origen</h5>
              <%= f.select :origin_station_id, Station.all.collect {|x| [x.name, x.id, { 'data-latlng' => x.latlng }]}, {}, :multiple => true, :class => "form-control", :id => 'origin' %>
              <h5>Estación de destino</h5>
              <%= f.select :destination_station_id, Station.all.collect {|x| [x.name, x.id, { 'data-latlng' => x.latlng }]}, {}, :multiple => true, :class => "form-control", :id => 'destination' %>
            </div>
          </div>
      </article>

      <article class="date">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">Día y Hora</h3>
            </div>
            <div class="panel-body">
              <%= f.label :datetime, 'Fecha' %>
              <%= f.date_field :datetime %>
              <%= f.label :datetime, 'Hora' %>
              <%= f.input :datetime, :as => :time_select, :label => false, :input_html => { :color => 'black' } %>
            </div>
          </div>
      </article>
              <%= f.actions %>

              <% end %>

    </section>

    <article class="itinerary">
      <div class="panel panel-primary type">
        <div class="panel-heading">
          <h3 class="panel-title">Itinerario</h3>
        </div>
        <div class="panel-body">
          <article id="map"/></article>
        </div>
      </div>
    </article>

  </section>
</div>