<section class="header">
  <div class="container">
      <div class="col-lg-12">
        <ul>
          <header><h1>EcoElcar</h1></header>
          <li data-scroll=".how-it-works"><%= I18n.t("landing.how_it_works") %></li>
          <li data-scroll=".advantages"><%= I18n.t("landing.advantages") %></li>
          <li data-scroll=".sign-up"><%= I18n.t("landing.enroll") %></li>
        </ul>
      </div>
  </div>
</section>

<section class="top">
  <div class="container">
    <article class="col-lg-5">
      <%= image_tag "landing/charge.png", class: "img-responsive col-md-offset-3", alt: I18n.t("landing.top.share.header") %>
      <header><h1><%= I18n.t("landing.top.share.header") %></h1></header>
      <p><%= I18n.t("landing.top.share.description") %></p>
    </article>
    <article class="col-lg-5">
      <%= image_tag "landing/go.png", class: "img-responsive col-md-offset-3", alt: I18n.t("landing.top.search_routes.header") %>
      <header><h1><%= I18n.t("landing.top.search_routes.header") %></h1></header>
      <p><%= I18n.t("landing.top.search_routes.description") %></p>
    </article>
  </div>
</section>

<section class="how-it-works">
  <div class="container">
    <header><h1>Cómo funciona</h1></header> 
      <article class="col-lg-5">
        <header><h2>ReadyToCharge</h2></header>
        <ul>
          <li>1. <a>Solicita los horarios disponibles en la estación de carga que desees.</a></li>
          <li>2. <a>Realiza la reserva a una hora y en una estación determinada para recargar tu vehículo eléctrico.</a></li>
          <li>3. <a>Ve con tu vehículo a la estación de carga y a la hora en la que has realizado la reserva.</a></li>
          <li>4. <a>No pierdas el tiempo, asegura tu recarga.</a></li>
      </ul>
    </article>
    <article class="col-lg-5">
      <header><h2>ReadyToGo</h2></header>
      <ul>
        <li>1. <a>Reserva el vehículo que más se adapte a tus necesidades.</a></li>
        <li>2. <a>Establece la ruta que vas a realizar en el mapa si quieres publicarla para que otros usuarios puedan verla.</a></li>
        <li>3. <a>Las personas que estén interesadas te pedirán que les recojas en un punto de la ruta.</a></li>
        <li>4. <a>Ahorra dinero y conoce a gente nueva.</a></li>
    </ul>
  </article>
</section>

<section class="advantages">
  <div class="container">
    <header><h1>Ventajas</h1></header>
    <row class="row">
      <article>
        <header>
          <%= image_tag("landing/graph.png", alt: "Eficiente") %>
          <h2>Eficiente</h2>
         </header>
      </article>
      <article>
        <header>
          <%= image_tag("landing/trees.png", alt: "Ecológico") %>
          <h2>Ecológico</h2>
         </header>
      </article>
    </row>
    <row class="row">
      <article>
        <header>
          <%= image_tag("landing/silent.png", alt: "Silencioso") %>
          <h2>Silencioso</h2>
         </header>
      </article>
      <article>
        <header>
          <%= image_tag("landing/pig.png", alt: "Económico") %>
          <h2>Económico</h2>
         </header>
      </article>
    </row>
  </div>
</section>

<section class="sign-up">
  <div class="container">
    <header><h1>Únete</h1></header>
    <article class="col-lg-3 col-lg-offset-2">
        <header>
          <h3>Preparados</h3>
          <h3>Listos</h3>
          <h3>ReadyToCharge&Go</h3>
        </header>
        <button id="sign-up-bottom" type="button" class="btn btn-blue">CREAR UNA CUENTA</button>
    </article>
    <article class="col-lg-3 col-lg-offset-2">
        <header>
          <h3>Ahorra</h3>
          <h3>Comparte</h3>
          <h3>Disfruta</h3>
      </header>
      <button id="login-bottom" type="button" class="btn btn-blue">INICIA SESIÓN</button>
    </article>
  </div>
</section>

<!-- modal new-user -->
<div class="modal fade new-user" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title">¡Regístrate!</h1>
      </div>
      <%= form_for(:user, :as => :user, :url => registration_path(:user), :html => {:class => 'modal-body'}) do |f| %>
        <ul>
          <li><%= email_field("user", "email", :placeholder => "ejemplo@gmail.com", class: "form-control", :required => true, :autofocus => true) %></li>
          <li><%= f.password_field :password, :placeholder => "contraseña", autocomplete: "off", class: "form-control", :required => true %></li>
          <li><%= f.password_field :password_confirmation, :placeholder => "contraseña", autocomplete: "off",  class: "form-control", :required => true %></li>
          <div class="modal-footer">
            <li>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <%= f.submit I18n.t("devise.registrations.new"), class: 'btn btn-primary' %>
            </li>
            <li><%= link_to I18n.t("devise.sessions.forgot_password"), new_password_path(:user) %></li>
        </ul>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- modal welcome -->
<div class="modal fade welcome" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title">¡Bienvenido a bordo!</h1>
      </div>
        <div class="modal-body">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <!-- modal login -->
<div class="modal fade login noscrollbar" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title">Inicio de sesión</h1>
      </div>
      <%= form_for(:user, :url => session_path(:user), :html => {:class => 'modal-body'}) do |f| %>
        <ul>
          <li><%= email_field("user", "email", :placeholder => "ejemplo@gmail.com", class: "form-control", :required => true, :autofocus => true) %></li>
          <li><%= f.password_field :password, :placeholder => "contraseña", autocomplete: "off", class: "form-control", :required => true %></li>
          <div class="modal-footer">
            <li>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <%= f.submit I18n.t("devise.sessions.sign_in"), class: 'btn btn-primary' %>
            </li>
            <li><%= link_to I18n.t("devise.sessions.forgot_password"), new_password_path(:user) %></li>
          </div>
        </ul>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- modal error-login -->
<div class="modal fade error-login" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title">Ups... algo ha salido mal</h1>
      </div>
        <div class="modal-body">
          <p>Lo sentimos pero no hemos encontrado a ningún usuario que concuerde con los datos que has introducido.</p>
          <p>Por favor, vuelve a intentarlo.</p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->