<div class="paths-wrap">
  <section class="route-info">
    <header><h1>Detalles de la ruta</h1></header>
    <article class="description">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><%= Station.find(@track.origin_station_id).name %><i class="glyphicon glyphicon-arrow-right"></i><%= Station.find(@track.destination_station_id).name %></h4>
        </div>
        <div class="panel-body">
          <% if @track.datetime.to_date == Date.tomorrow %>
            <p>Fecha de salida: Mañana %></p>
          <% else %>
              <p><strong>Fecha de salida:</strong> <%= get_human_week_day(@track.datetime) %> <%= @track.datetime.to_date.strftime('%d') %> de <%= get_human_month(@track.datetime) %></p>
          <% end %>
          <p><strong>Hora de salida:</strong> <%= @track.datetime.time.strftime("%H:%M") %></p>
          <div class="publication">
            <p>Fecha de publicación: <%= @track.created_at.to_date.strftime('%m/%d/%Y') %></p>
          </div>
        </div>
    </article>
    <article class="details">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= rand(0.6..1.2).round(2) %>€ por pasajero</h3>
        </div>
        <div class="panel-body">
          <h4>4 plazas libres</h4>
        </div>
        <div class="book">
          <% if  current_user.id != @track.user_id %>
            <%= link_to 'RESERVAR PLAZA', tracks_path, class: 'btn btn-warning form-control' %>
          <% end %>
        </div>
      </div>
      <div class="panel panel-primary driver">
        <div class="panel-heading">
          <h3 class="panel-title">Conductor/a</h3>
        </div>
        <div class="panel-body">
          <div class="image">
            <%= image_tag @track.user.photo.url %>
          </div>
          <div class="info">
            <p><span><%= link_to @track.user.name, user_path(@track.user) %></span></p>
            <p><%= @track.user.age %> años</p>
            <p><%= @track.user.ocupation %></p>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>


