<div class="white-wrap">
  <section class="profile">
    <section class="panels">
      <%= semantic_form_for current_user do |f| %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Información de Perfil</h3>
          </div>
          <div class="panel-body">
            <article class="personal-info">
              <div class="modify"><%= f.action :submit, :button_html => { :class => "btn btn-primary", :disable_with => 'Guardando...', :value => 'Guardar cambios' } %></div>
              <strong><h4>Información Personal</h4></strong>
              <div class="basic">
                <div class="image">
                  <%= image_tag current_user.photo.url %>
                  <%= f.input :photo, :as => :file %>
                </div>
                <div class="bio">
                  <ul>
                    <li><h5>ID usuario | email</h5></li>
                    <li><%= current_user.email || I18n.t('profile.attributes.no_data') %></li>
                    <li><h5>Nombre</h5></li>
                    <li><%= f.input :name, :label => false %>
                    <li><h5>Apellidos</h5></li>
                    <li><%= f.input :last_name, :label => false %></li>
                    <li><h5>Edad</h5></li>
                    <li><%= f.input :age, :label => false %></li>
                    <li><h5>Años de experiencia</h5></li>
                    <li><%= f.input :drive_license_old, :label => false, :input_html => { :paceholder => 'años' } %></li>
                    <li><h5>Profesión</h5></li>
                    <li><%= f.input :ocupation, :label => false, :required => true %></li>
                  </ul>
                </div>
              </div>
              <hr>
              <div class="extra">
                <ul>
                  <li><h5>Aficiones</h5></li>
                  <li><%= f.input :hobbies, :label => false %></li>
                  <li><h5>Descripción</h5></li>
                  <li><%= f.input :description, :label => false, :input_html => { :rows => '8' } %></li>
                </ul>
              </div>
            </article>
          </div>
          <hr>
          <div class="panel-body">
            <article class="car-info">
              <strong><h4>Mi Coche</h4></strong>
              <% if current_user.vehicles.count == 0 %>
                <%= f.add_nested_fields_link :vehicles, 'Añadir vehículo'  %>
              <% end %>
              <%= f.nested_fields_for :vehicles do |builder| %>
                <div class="info">
                    <ul>
                      <li><h5>Marca:</h5></li>
                      <%= builder.input :brand, :label => false %>
                      <li><h5>Modelo</h5></li>
                      <li><%= builder.input :model, :label => false %></li>
                      <li><h5>Número de plazas: </h5></li>
                      <li><%= builder.input :seats, :label => false %></li>
                      <li><h5>Caballos:</h5></li>
                      <li><li><%= builder.input :horse_power, :label => false %></li></li>
                      <li><h5>Año de matriculación:</h5></li>
                      <li><%= builder.input :year_of_registration, :label => false %></li>
                    </ul>
                </div>
                <div class="image">
                  <% if current_user.vehicles.first %>
                    <%= image_tag current_user.vehicles.first.photo.url %>
                  <% end %>
                  <%= builder.input :photo, :as => :file %>
                </div>
              </article>
            <% end %>
            <%= f.action :submit, :button_html => { :class => "btn btn-primary", :disable_with => 'Guardando...', :value => 'Guardar cambios' } %>
          </div>
        </div>
      <% end %>
    </section>
  </section>
</div>

