<div class="profile-wrap">
  <header><h1>Configuración de perfil</h1></header>
  <section class="profile">
    <section class="basic-info box">
      <header><h3>Información básica</h3></header>
      <ul>
        <li><h5>ID usuario | email</h5></li>
        <li><%= current_user.email || I18n.t('profile.attributes.no_data') %></li>
        <li><h5>Nombre</h5></li>
        <li><%= current_user.name || I18n.t('profile.attributes.no_data') %></li>
        <li><h5>Apellidos</h5></li>
        <li><%= current_user.last_name || I18n.t('profile.attributes.no_data') %></li>
        <li><h5>Antigüedad del carnet de conducir</h5></li>
        <li><%= current_user.drive_license_old || I18n.t('profile.attributes.no_data') %></li>
        <li><h5>Profesión</h5></li>
        <li><%= current_user.profesion || I18n.t('profile.attributes.no_data') %></li>
        <li><h5>Hobbies</h5></li>
        <li><%= current_user.hobbies || I18n.t('profile.attributes.no_data') %></li>
        <li><h5>Description</h5></li>
        <li><%= current_user.description || I18n.t('profile.attributes.no_data') %></li>
      </ul>
    </section>

    <section class="vehicles box">
      <header><h3>Vehículos</h3></header>
    </section>
  </section>
</div>
