<!DOCTYPE html>
<html>
<head>
  <title>Ecoelcar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="page-wrap">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </div> <!--wrap-->

  <%= render 'shared/footer' %>

</body>
</html>
