<!DOCTYPE html>
<html>
<head>
  <title>Ecoelcar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBmNZpoxu8WGGluEbJ1Q4cKChFN83z-ecU&sensor=false" %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">>

  <div class="page-wrap">
    <% if flash[:notice] %>
      <div class="alert alert-dismissable alert-danger notice">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div><%= flash[:notice] %></div>
      </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-dismissable alert-danger notice">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <div><%= flash[:alert] %></div>
        </div>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </div> <!--wrap-->

  <%= render 'shared/footer' %>

</body>
</html>
